<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>

<div data-role="page">

    <div data-role="header">
        <h1>Title</h1>
        <div id="{{mojit_view_id}}">
            <dd id="data">{{data}}</dd>
        </div>


    </div><!-- /header -->

    <div data-role="content">
        <p>The content</p>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>The Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->

</body>


