<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
<link rel="stylesheet" href="http://jquerymobile.com/demos/1.0a4.1/docs/_assets/css/jqm-docs.css" />
<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
<script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
<script src="http://wifi-wpa2-139.tpcity.corp.yahoo.com:3000/static/global_assets/assets/yui_cwnga.js"></script>
<div data-role="page" id = 'all_list'>
    <div data-role="header">
        <h1>Yahooize Event</h1>
    </div><!-- /header -->
    <div data-role="content">
        {{{user}}}
        {{{event}}}
    </div>
    <div data-role="footer">
        <h4>The Footer</h4>
    </div><!-- /footer -->

</div>

{{{ad_list}}}

