<div data-role="dialog" id='dialog'>
    <div data-role="header" data-theme="d">
        <h1>Dialog</h1>
    </div>
    <div data-role="content" data-theme="c">
        <h1>Cancel Event, Indoor Event, Do You?</h1>
        <ul data-role="listview" data-inset="true">
            <a href="http://www.yahoo.com" target="_self" data-rel="dialog">
                <li>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQYrFFg8Ka04D_f-Fua5e-orEiEAmyO7VPnUXDfFqv9RVZHL4gA">
                <h3>IRON Man3</h3>
                <p>time: 12:00~15:00 12:00~15:00 12:00~15:00</p>
                <p>start: 5</p>
            </a>
            </li>
        </ul>
        <div id="delete_fb_btn" event_id = "" data-role="button" data-rel="back" data-theme="b">Delete</div>
        <a href="#all_list" data-role="button" data-rel="back" data-theme="c">Cancel</a>
    </div>
</div>
